.footer {
    height: 30rem;
    background-color:  #161617;
    color: #ffffff;
     width: 100%;
}

.container{
    
  
    height: 100%;
    flex-direction: column;  
    display : flex;
    justify-content: flex-start; /* horizontal alignment (start, center, space-between, etc.) */
    width: 100%;
    
}

.info{  
      flex: 3;      
      display: flex; 
      justify-content: space-between;
      gap: 1rem;       
}

.last{
    flex: 1;              
}

.box1 {
    margin-left: 1rem;
    background-color: #161617;
      flex: 1; 
      display: flex; 
      flex-direction: column; 
}

.box2 {
    /* background-color: rgb(255, 169, 10); */
      flex: 1;  
      display: flex; 
      flex-direction: column; 
        align-items: center;
        padding: 2rem;
       
}
.box3 {

      flex: 1;  
      display: flex; 
      flex-direction: column; 
      align-items: center;
        padding: 2rem;
}

.box4 {

      flex: 1;  
      display: flex; 
      flex-direction: column; 
       align-items: center;
         padding: 2rem;
}

.linkStyle{ 
 color: rgb(100, 200, 150);   
  text-decoration: none;        
  font-size: 1rem;
  line-height: 1.3;
  padding: 0.25rem 0;           
  transition: color 0.2s ease;

}

.footer a {
  color: rgb(223, 210, 210);             
  text-decoration: none;     
  transition: color 0.2s ease;
}

.footer li {
    margin : 0.5rem;
}

.footer a:hover {
  color: #086d95;        
}

.divider {
  border: 0;                  /* remove default hr border */
  height: 1px;                /* thickness */
  background-color: #444;     /* a subdued gray */
  margin: 2rem 4rem;  
     /* vertical spacing above/below */
}

.copy {
  text-align: center;
  color: #777;
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 2rem;       /* bottom padding if you like */
}



