@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

.main_section {
   
    margin-top: 0;
    padding-top: 0;
    background-color: #fefeff;
 
    background-size: 400% 400%;
    color: white;

}



/*@keyframes gradient-bg {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*}*/

.hero_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-height: 80rem;
    width: 100%;
    gap : 1.5rem;
    align-items: center;
}

.col1{

  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap : 1.5rem;
  
}



.col2{
 
  width: 100%;
  flex:2;
  display: flex;
  flex-direction: column;
  gap : 1.5rem;


}
.col3{
 
  width: 100%;
  flex:1;
  display: flex;
  gap : 1.5rem;
  flex-direction: column;


}

.col1,
.col2,
.col3 {
  height: 120rem;  /* or any other height */
}

.obj1{
  flex : 1;
  background-image: url("/box2.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;

  
}
.obj2{
  flex : 2;
  background-image: url("/box6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.obj3{
  flex : 1;
 
   border-radius: 1rem;
   background-image: url("/box9.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.obj4 {
  flex: 37;

    background-image: url("/box3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.obj5 {
  flex : 40;
    
    display: flex;
    gap : 1.5rem;
}

.obj5_1 {
  flex : 1;
   background-image: url("/box7.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.obj5_2 {
  flex : 1;
  background-image: url("/box8.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
   border-radius: 1rem;
}
.obj6 {
  flex : 23;
    background-image: url("/box10.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.obj7 {
  flex : 2.2;
  background-image: url("/box4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.obj8 {
  flex : 2.2;
   background-image: url("/box5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
.obj9 {
  flex : 5.4;
   background-image: url("/box1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}



