
.main_header {
    padding: 0 9rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1336e7;
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar{
    background-color: #1336e7;
}

.navIconText {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  color: white; /* or any desired text color */
}

.navbar_brand {
    text-align: left;
}

.navbarList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3.2rem;
}

.navbarItem {
    height: 100%;
    display: grid;
    place-items: center;
}

.navbarList a {
    font-weight: bold;
    font-size: 1.8rem;
    color: #fff;
    padding: 1.3rem 1rem;
    margin: 0;
    position: relative;
    overflow: hidden;
}

/*.navbarList .navbarItem a:hover {*/
/*    color: #e50914;*/
/*}*/

.navbarItem a:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: .5rem;
    /* background-color: #e50914; */
    left: -100%;
}

.navbarItem a:hover:before {
    animation: coolNavLine .4s linear forwards;
    
}


.navbarList .navbarItem a:hover {
    color: #ffffff;
    background-color: #00164a;
    border-radius: 1rem;
    padding: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.headsearch{
    height: 45px;
    width: 650px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.input_search{
    height: 100%;
    width: 88%;
    padding-left: 25px;
    
}


.icon_search{
    height: 35px;
    width: 35px;
    background-color: #1359e7;
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444444;
    cursor: pointer;
    color: #fff;
}
.icon_search span{
    font-size: 2rem;
}






